@import './_reset.css';

* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #2F3640;
  color: #2F3640;
  width: 100%;
}
